<div class="pr-xl-5 col-lg-8">
    <div class="cart mb-5">
        <div class="">
            <div class="cart-body">
                <div class="cart-item">
                    <div class="d-flex align-items-center text-left text-md-center row">
                        <div class="col-12 col-md-5"><a class="cart-remove close mt-3 d-md-none" href="#"><i
                                class="fa fa-times"></i></a>
                            <div class="d-flex align-items-center"><a href="/tops-blouses/white-tee"><img
                                    class="cart-item-img" src="/img/product/0987188250_1_1_1.jpg" alt="product"></a>
                                <div class="cart-title text-left"><a class="text-dark link-animated"
                                                                     href="/tops-blouses/white-tee"><strong>White
                                    Tee</strong></a><br><span class="text-muted text-sm">Size: Large</span><br><span
                                        class="text-muted text-sm">Colour: Green</span></div>
                            </div>
                        </div>
                        <div class="mt-4 mt-md-0 col-12 col-md-7">
                            <div class="align-items-center  row">
                                <div class="col-md-3">
                                    <div class="row">
                                        <div class="d-md-none text-muted col-6">Price per item</div>
                                        <div class="text-right text-md-center col-6 col-md-12">$40</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="align-items-center row">
                                        <div class="text-muted d-md-none col-7 col-sm-9">Quantity</div>
                                        <div class="col-5 col-sm-3 col-md-12">
                                            <div class="d-flex align-items-center">
                                                <button type="button" class="items-decrease btn btn-items">-</button>
                                                <input type="text"
                                                       class="text-center border-0 border-md input-items form-control"
                                                       value="1">
                                                <button type="button" class="items-increase btn btn-items">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <div class="d-md-none text-muted col-6">Total price</div>
                                        <div class="text-right text-md-center col-6 col-md-12">$40.00</div>
                                    </div>
                                </div>
                                <div class="d-none d-md-block text-center col-2"><a class="cart-remove text-muted"
                                                                                    href="#">
                                    <svg class="svg-icon w-2rem h-2rem svg-icon-light">
                                        <use xlink:href="#close-1"></use>
                                    </svg>
                                </a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-column flex-lg-row mb-5 mb-lg-0"><a href="/category-full"
                                                                                        class="text-muted btn btn-link"><i
            class="fa fa-chevron-left"></i>Continue Shopping</a><a href="#" class="text-primary btn btn-link"><i
            class="fa fa-sync"></i> Update cart</a></div>
</div>
<style>

    .fa-times:before {
    content: "\f00d";
}

</style>



<div class="box-element d">

            {% for item in items %}
            <div class="cart mb-5">

                    <div class="cart-body">
                        <div class="cart-item">
                            <div class="d-flex align-items-center text-left text-md-center row">
                                <div class="col-12 col-md-5"><a class="cart-remove close mt-3 d-md-none" href="#"><i
                                        class="fa fa-times"></i></a>
                                    <div class="d-flex align-items-center"><a href="/tops-blouses/white-tee"><img
                                            class="cart-item-img" src="/img/product/0987188250_1_1_1.jpg" alt="product"></a>
                                        <div class="cart-title text-left"><a class="text-dark link-animated"
                                                                             href="/tops-blouses/white-tee"><strong>White
                                            Tee</strong></a><br><span
                                                class="text-muted text-sm">Size: Large</span><br><span
                                                class="text-muted text-sm">Colour: Green</span></div>
                                    </div>
                                </div>
                                <div class="mt-4 mt-md-0 col-12 col-md-7">
                                    <div class="align-items-center  row">
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="d-md-none text-muted col-6">Price per item</div>
                                                <div class="text-right text-md-center col-6 col-md-12">$40</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="align-items-center row">
                                                <div class="text-muted d-md-none col-7 col-sm-9">Quantity</div>
                                                <div class="col-5 col-sm-3 col-md-12">
                                                    <div class="d-flex align-items-center">
                                                        <button type="button" class="items-decrease btn btn-items">-
                                                        </button>
                                                        <input type="text"
                                                               class="text-center border-0 border-md input-items form-control"
                                                               value="1">
                                                        <button type="button" class="items-increase btn btn-items">+
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="d-md-none text-muted col-6">Total price</div>
                                                <div class="text-right text-md-center col-6 col-md-12">$40.00</div>
                                            </div>
                                        </div>
                                        <div class="d-none d-md-block text-center col-2"><a
                                                class="cart-remove text-muted"
                                                href="#">
                                            <svg class="svg-icon w-2rem h-2rem svg-icon-light">
                                                <use xlink:href="#close-1"></use>
                                            </svg>
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

            </div>
            {% endfor %}
        </div>




<div class="box-element d">

            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2">
                    <img height="80px" width="80px" src="{{ item.product.imageURL }}" alt=""
                         class="row-ima"></div>
                <div style="flex:3">
                    <style>
                        .item-detail{color:black;}
                    </style>
                    <a href="{% url 'store-detail' item.product.id %}" class="item-detail text-decoration-none">
                        {{ item.product.name }}
                    </a>

                    <h5 style="font-size: 11px;" class="text-muted">
                        <a href="tel:{{ item.product.seller.phone_number }}"
                           class="text-decoration-none">
                            <p class="btn-call" onclick="off()">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-outbound-fill"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                                {{ item.product.seller.phone_number }}
                            </p>
                        </a>
                    </h5>
                </div>
                <div style="flex:3">₦{{ item.product.price|floatformat:'2' }}</div>
                <div style="flex:3">₦{{ item.product.seller_delivery_price|floatformat:'2' }}</div>
                <div style="flex:3">
                    <div class="quantity">
                        <button data-product="{{ item.product.id }}" data-action="add"
                                class="update-cart text-decoration-none btn-sm btn-info"><b>+</b>
                        </button>
                        <b>{{ item.quantity }}</b>
                        <button data-product="{{ item.product.id }}"
                                data-action="remove"
                                class="text-decoration-none btn-sm btn-danger update-cart"><b>-</b>
                        </button>
                    </div>
                </div>
                <div style="flex:1">₦{{ item.get_total|floatformat:'2' }}</div>
            </div>
            {% endfor %}
        </div>


