{% extends 'store/base.html' %}
{% load static %}
{% block title %} MyEshop | Vendor - Products {% endblock %}

{% block content %}
{% include "store/navbar.html" %}

<br>
<br>
<style>

.box{
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    padding-bottom: 30px;
    transition: .4s;

}
.box:hoverr {
    box-shadow:hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    padding-bottom: 35px;
}

.heart{color: red }

.heart:hover{color: #0093E9; }
    #over{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}
@media only screen and (max-width: 700px) {
    .hide-category {
        display: none;
    }
}

.hero-content h1 {
    font-size: 3rem;
}

.h1, h1 {
    font-size: 1.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .3rem;
    font-family: vremenagrotesk,sans-serif;
    font-weight: 700;
    line-height: 1;
}

h1 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.text-muted {
    color: #868e96!important;
}
.lead {
    font-size: 1.25rem;
    font-weight: 900;
}



</style>


<style>
    .toast-bottom-left, .toast-bottom-center, .toast-bottom-right {
    bottom: 1.5rem;
}
@media (max-width: 575.98px)
.toast-container {
    padding-right: 1rem;
    padding-left: 1rem;
}
.toast-container {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: auto; /* Full height */

}

.toast-top-center .toast, .toast-bottom-center .toast {
    margin-right: auto;
    margin-left: auto;
}
.toast.hide {
    display: none;
}
.fade:not(.show) {
    opacity: 0;
}
.toast {
    display: none;
    opacity: 0;
}

.toast {
    max-width: 350px;
    font-size: .875rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0,0,0,0);
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.1);

    opacity: 0;
    border-radius: .3125rem;
}
.fade {
    transition: opacity 0.15s linear;
}
.text-white {
    color: #fff !important;
}
.bg-success {
    background-color: #42d697 !important;
}
.toast-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .25rem .75rem;
    color: #7d879c;
    background-color: rgba(255,255,255,0.85);
    background-clip: padding-box;
    border-bottom: 0 solid rgba(0,0,0,0.05);
}
.toast-header [class*='czi-'] {
    font-size: 1.25em;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}
.close {
    transition: opacity 0.15s ease-in-out;
    opacity: .7;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
    color: #4b566b;
    text-shadow: none;
    opacity: .5;
}













</style>

<div class="toast-container toast-bottom-center" style="height: 10px;">
    <div class="toast mb-3 fade " id="cart-toast" data-delay="5000" role="alert" aria-live="assertive"
         aria-atomic="true">
        <div class="toast-header bg-success text-white">

            <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
            <h6 class="font-size-sm text-white mb-0 ml-2">Added to Wishlist</h6>
            <button class="close text-white ml-auto mb-1" type="button" data-dismiss="toast" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
        </div>
        <div class="toast-body"><b class="cart_result"></b></div>
    </div>
</div>
<!--<br>-->
<!--<li>{{ labels }}</li>-->
<!--<br>-->
<!--<li>{{ date_ }}</li>-->
<!--<br>-->
<!--<li>{{ max }}</li>-->
<!--<br>-->
<!--{% for d in data %}-->
<!--<li>{{ d.count }}</li>-->
<!--{% endfor %}-->

<div id="content-wrapper" class="box-element">
    <h4><b>Top Selling Products</b></h4>
    <div class="column">
        <div id="slide-wrapper">
<!--                            <img id="slideLeft" width="20px" height="20px" class="arrow hide" src="{% static 'images/arrow-up.png' %}">-->
            <div id="slider">
                {% for product in top_selling_products %}
                <div class="col-lg-2 col-md-3 col-sm-3 col-8 mt-1">
                    <style>
                            .col-6 {
                                padding: 6px;
                            }

                    </style>
                    <a href="{% url 'store-detail' product.id %}">
                        <img src="{{ product.image.url }}" fill="777" background="#777" color="#777" alt=""
                             class="thumbnail-product">
                        <style>
                            .thumbnail-product{
                                width: 100%;
                                height: 200px;
                                -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
                                -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
                                box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
                                transition: .3s
                            }
                            .thumbnail-product:hover{
                                width: 100%;
                                height: 200px;
                                transform: translateY(-6px);
                                box-shadow:hsl(0, 0%, 80%) 0 0 16px;
                            }

                        </style>
                    </a>

                    <div class="box product">
                        <a class="mb-2" href="{% url 'store-detail' product.id %}">
                            <p style="font-size:14px;" class="text-truncate">
                                {{ product.name }}
                            </p>
                            <div style="display: block;float: left;color: black;">
                                <h5>
                                    ₦{{ product.price|floatformat:2 }}
                                </h5>
                            </div>
                        </a>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

                    </div>
                </div>
                {% endfor %}
            </div>
<!--                            <img id="slideRight" width="20px" height="20px" class="arrow hide" src="{% static 'images/arrow-down.png' %}">-->
            <script>
                let buttonRight = document.getElementById('slideRight');
                let buttonLeft = document.getElementById('slideLeft');
                document.getElementById('slider').addEventListener('mouseover', function(){


                buttonLeft.addEventListener('click', function(isLoading){
                    document.getElementById('slider').scrollLeft -= 70

                })

                buttonRight.addEventListener('click', function(){
                    document.getElementById('slider').scrollLeft += 70

                })
                })
            </script>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-3 col-md-3 hide-category mt-2">
        <style>
            .dropdown-item{padding-left: 3px;padding-right:3px}

        </style>
        <div class="sticky-top" style="top: 80px">
            <div class="box-element ">
                <h3 class="font-weight-light">Categories</h3>
<!--                <div class="dropdown-divider"></div>-->
                <a class="dropdown-item" href="../vendors/#product"> All Category</a>
                <!--                <div class="dropdown-divider"></div>-->
                {% for category in categories %}
                <a class="dropdown-item"
                   href="../vendors/?category_id={{ category.id }}#product">
                    <div class="category-content d-flex flex-column">
                        {{ category.name | safe }}
                        <!--                        ({{ p.category.product_set.count }})-->
                    </div>
                </a>
                <style>
                    .category-content {
                        word-wrap: break-word;
                    }
                    .d-flex {
                        display: -ms-flexbox!important;
                        display: flex!important;
                    }
                    .flex-column {
                        -ms-flex-direction: column!important;
                        flex-direction: column!important;
                    }

                </style>
                <!--                white-space: pre-line;-->
                <!--                <div class="dropdown-divider"></div>-->
                {% endfor %}
                <br>
            </div>
<!--            {% for p in categories %}-->
<!--&lt;!&ndash;            <small>Set category in the morning. Dev dont forget!!</small>&ndash;&gt;-->

<!--            <li>{{ p.product_set }}</li>-->


<!--            {% endfor %}-->
        </div>
    </div>
<!--{{ labels }}-->
    <div class="col-lg-9 col-md-9 p-2" id="product">
        <div class="box-element">
            <div class="order-lg-3">
                <div class="cart-row">
                    <strong>
                        Vendors you follow: {{ vendor_following_products|length }} products found
                    </strong>

                </div>
            </div>
            <div class="order-lg-3">
                <div class="cart-row">
                    <div>
                        <strong>
                            Sort By Price:
                        </strong>
                    </div>
                    <div style="flex:2">
                        <form class="form-inline float-right" method="GET">
                            <div style="flex:2">
                                {{ myFilterSet.form }}
                                <button class="btn btn-secondary btn-sm mb-2" type="submit">FILTER
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% if vendor_following_products|length > 0 %}
            <div class="row p-2">
<!--                {{ t }}-->
                {% for product in vendor_following_products %}
                <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                    <style>
                            .col-6 {
                                padding: 6px;
                            }

                    </style>
                    <a href="{% url 'store-detail' product.id %}">
                        <img src="{{ product.image.url }}" fill="777" background="#777" color="#777" alt=""
                             class="thumbnail-product">
                        <style>
                            .thumbnail-product{
                                width: 100%;
                                height: 200px;
                                -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
                                -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
                                box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
                                transition: .3s
                            }
                            .thumbnail-product:hover{
                                width: 100%;
                                height: 200px;
                                transform: translateY(-6px);
                                box-shadow:hsl(0, 0%, 80%) 0 0 16px;
                            }

                        </style>
                        {% if product.image2 %}
                        <img class="featured hide-img" src="{{ product.image2.url }}">
                        <style>
                                .hide-img{
                                    display: none
                                }
                        </style>
                        {% endif %}
                    </a>

                    <div class="box product">
                        <a class="mb-2" href="{% url 'store-detail' product.id %}">
                            <p style="font-size:14px;" class="text-truncate">
                                {{ product.name }}
                            </p>
                            <div style="display: block;float: left;color: black;">
                                <h5>
                                    ₦{{ product.price|floatformat:2 }}
                                </h5>
                            </div>
                        </a>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                        {% if request.user.is_authenticated %}
                        <div>
                            <br>
                            <button class="btn shadow like-btn btn-block btn-info" id="Play_Button" data-href='{{ product.get_api_like_url }}'
                                    data-product="{{ product.id }}">
                                Add to Cart
                            </button>
<!--                            <svg data-product="{{ product.id }}" style="cursor: pointer" data-toggle="tooltip"-->
<!--                                 title="Add To Wishlist!"  data-placement="right" role="button"-->
<!--                                 width="1em" height="1em" viewBox="0 0 16 16" data-href='{{ product.get_api_like_url }}'-->
<!--                                 class="bi like-btn float-right bi-heart-fill mt-1 heart call"-->
<!--                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--                                <path fill-rule="evenodd"-->
<!--                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>-->
<!--                            </svg>-->
                        </div>
                        {% else %}
                        <div>
                            <br>
                            <a href="{{ product.get_add_product_url }}">
                                <svg data-product="{{ product.id }}" style="cursor: pointer" data-toggle="tooltip"
                                     title="Add To Wishlist!" id="Play_Button" data-placement="right" role="button"
                                     width="1em" height="1em" viewBox="0 0 16 16"
                                     class="bi float-right bi-heart-fill mt-1 heart call"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                </svg>
                            </a>
                        </div>
                        <!--                        <div class="heart" title="You are not logged in" data-toggle="tooltip"-->
                        <!--                             data-placement="right">-->
                        <!--                            <br>-->
                        <!--                            <svg data-product="{{ product.id }}"-->
                        <!--                                 style="background-shadow: 4px 6px 5px grey;cursor: pointer"-->
                        <!--                                 data-action="add" width="1em" height="1em" viewBox="0 0 16 16"-->
                        <!--                                 class="bi add-btn heart float-right mt-1 update-cart bi-heart-fill" data-toggle="modal"-->
                        <!--                                 data-target="#wishlistFunc"-->
                        <!--                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
                        <!--                                <path fill-rule="evenodd"-->
                        <!--                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>-->
                        <!--                            </svg>-->
                        <!--                        </div>-->
                        <!--                        <div class="modal fade" id="wishlistFunc" tabindex="-1" aria-labelledby="exampleModalLabel"-->
                        <!--                             aria-hidden="true">-->
                        <!--                            <div class="modal-dialog modal-dialog-centered" role="document">-->
                        <!--                                <div class="modal-content" style="background-color: #f6f9fc !important">-->
                        <!--                                    <div class="modal-body p-3" align="center">-->
                        <!--                                        <br>-->
                        <!--                                        <br>-->
                        <!--                                        <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem"-->
                        <!--                                             fill="currentColor"-->
                        <!--                                             class="bi bi-person-plus" viewBox="0 0 16 16">-->
                        <!--                                            <path fill-rule="evenodd"-->
                        <!--                                                  d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zM13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>-->
                        <!--                                        </svg>-->
                        <!--                                        <br>-->
                        <!--                                        <br>-->
                        <!--                                        <h4>You have to login to update your Wishlist</h4>-->
                        <!--                                        <br><br>-->
                        <!--                                        <button type="button" class="btn btn-info btn-block rounded-pill"-->
                        <!--                                                data-dismiss="modal">Ok, I understand-->
                        <!--                                        </button>-->
                        <!--                                        <br><br>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if vendor_following_products.has_other_pages %}
            <div class="container mt-2" align="center">
                {% if vendor_following_products.has_previous %}
                <a class="btn-sm btn btn-outline-info mb-7" href="?page=1">&laquo; First Page</a>
                <a class="btn-sm btn btn-outline-info mb-7" href="?page={{ vendor_following_products.previous_page_number }}#shop">&laquo;
                    Previous
                </a>
                {% endif %}
                {% for num in vendor_following_products.paginator.page_range %}
                {% if vendor_following_products.number == num %}
                <a class="btn-sm btn btn-info mb-7" href="?page={{ num }}#shop">{{ num }}</a>
                {% elif num > vendor_following_products.number|add:'-3' and num < vendor_following_products.number|add:'3' %}
                <a class="btn-sm btn btn-outline-info mb-7" href="?page={{ num }}#shop">{{ num }}</a>
                {% endif %}
                {% endfor %}
                {% if vendor_following_products.has_next %}
                <a class="btn-sm btn btn-outline-info mb-7" href="?page={{ vendor_following_products.next_page_number }}#shop">Next
                    &raquo;</a>
                <a class="btn-sm btn btn-outline-info mb-7" href="?page={{ vendor_following_products.paginator.num_pages }}#shop">Last
                    Page
                    &raquo;</a>
                {% endif %}
            </div>
            {% endif %}
            {% else %}
            <div class="container" id="product" align="center" style="opacity: 0.7" fill="#000">
                <img class="img-fluid" src="{% static 'images/product-icon-png-19.jpg' %}" style="opacity: 0.8" alt="">
                <h3 class="font-weight-strong">No product here!</h3><br>
            </div>
            {% endif %}

            <br>
        </div>
    </div>
</div>

<style>
#top-product-thumb {
    width: 100%;
    height: 150px;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}
.column{
	width: 100%;
	padding: 1px;

}

#slide-wrapper{
	max-width: 100%;
	display: flex;
	min-height: 100px;
	align-items: center;
}

#slider{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;

}

<!--#slider::-webkit-scrollbar {-->
<!--    width: 8px;-->
<!--}-->

<!--#slider::-webkit-scrollbar-track {-->
<!--    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);-->

<!--}-->

<!--#slider::-webkit-scrollbar-thumb {-->
<!--  background-color: lightgrey;-->
<!--   border-radius: 100px;-->

<!--}-->

<!--#slider::-webkit-scrollbar-thumb:hover{-->
<!--    background-color: grey;-->
<!--}-->

</style>


{% endblock content %}